<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:form id="formulario">
			<p:growl />



			<p:panel>
				<div class="Container">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
							<h:outputText value="GESTION DE PLANES"
								styleClass="FontBold Fs18 hardblue"></h:outputText>
						</div>
						<div class="Container100">
						
						<p:panel header=" ">
						
						
							<p:panelGrid columns="4" layout="grid"
								style="border:0px !important; background:none;"
								styleClass="ui-panelgrid-blank">

								<p:outputLabel value="Identificador Plan:" />
								<p:inputText id="txt_id_plan" />

								<p:outputLabel value="descripción:" />
								<p:inputText id="txt_desripcion" />

								<p:outputLabel value="Mes Inicio:" />
								<p:inputText id="txt_mes_inicio" />

								<p:outputLabel value="Mes Fin:" />
								<p:inputText id="txt_mes_fin" />

								<p:outputLabel value="Dias:" />
								<p:inputText id="txt_dias" />

								<p:outputLabel value="Valor:" />
								<p:inputText id="txt_valor" />
								
						

							</p:panelGrid>
						</p:panel>
						</div>
					</div>

				</div>
			</p:panel>
			

			<p:panel header="LISTADO PLANES">
				<p:dataTable id="dataPlanes" var="plan" paginator="true"
					rows="10">

					<p:column headerText="Identificador Plan">
						<p:outputLabel value="id" />
					</p:column>

					<p:column headerText="descripcion">
						<p:outputLabel value="descripcion" />
					</p:column>

					<p:column headerText="Mes Inicio">
						<p:outputLabel value="mes_inicio" />
					</p:column>

					<p:column headerText="Mes Fin">
						<p:outputLabel value="mes_fin" />
					</p:column>

					<p:column headerText="Dias">
						<p:outputLabel value="dias" />
					</p:column>

					<p:column headerText="Valor">
						<p:outputLabel value="valor" />
					</p:column>


				</p:dataTable>
			</p:panel>



		</h:form>

	</ui:define>
</ui:composition>