<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:form id="formulario">
			<p:growl />



			<p:panel>
				<div class="Container">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
							<h:outputText value="GESTION DE PAGOS"
								styleClass="FontBold Fs18 hardblue"></h:outputText>
						</div>
						<div class="Container100">
						
							<p:panel header="">
							
								<p:panelGrid columns="4" layout="grid"
									style="border:0px !important; background:none;"
									styleClass="ui-panelgrid-blank">
	
									<p:outputLabel value="Identificador Pago:" />
									<p:inputText id="txt_id_pago" />
	
									<p:outputLabel value="Valor:" />
									<p:inputText id="txt_valor" />
	
									<p:outputLabel value="Fecha Pago" />
									<p:inputText id="txt_fecha_Pago" />
	
	
								</p:panelGrid>
							</p:panel>
						</div>
					</div>

				</div>
			</p:panel>
			

			<p:panel header="LISTADO PAGOS">
				<p:dataTable id="dataPlanes" var="plan" paginator="true"
					rows="10">

					<p:column headerText="Identificador Pago">
						<p:outputLabel value="id_pago" />
					</p:column>

					<p:column headerText="Valor">
						<p:outputLabel value="valor" />
					</p:column>

					<p:column headerText="Fecha Pago">
						<p:outputLabel value="fecha_pago" />
					</p:column>



				</p:dataTable>
			</p:panel>



		</h:form>

	</ui:define>
</ui:composition>