<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
	
         <h:form id="formulario">
         	<p:growl/>
         	
			<p:panel>
				<div class="Container">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
							<h:outputText value="HISTORIAL ANTROPOMETRICO"
								styleClass="FontBold Fs18 hardblue"></h:outputText>
						</div>
						<div class="Container100">
						
						<p:panel header="">
							<p:panelGrid columns="4" layout="grid"
								style="border:0px !important; background:none;"
								styleClass="ui-panelgrid-blank">
         			
			         			<p:outputLabel value="IMC:"/>
			         			<p:inputText id="txtImc"  disabled="true"/>
			         			
			         			<p:outputLabel value="Porcentaje de grasa:"/>
			         			<p:inputText id="txtPorcentajeDeGrasa"  disabled="true"/>

							</p:panelGrid>
						</p:panel>
							
						</div>
					</div>

				</div>
			</p:panel>
         	
         	<p:panel header="Historial Antropometrico" >
	         	<p:dataTable id="dataCliente"  var="cliente" paginator="true" rows="5">
	         
		         	<p:column headerText="Fecha">
		         		<p:outputLabel value="fecha"/>
		         	</p:column>
		         	
		         	<p:column headerText="Peso">
		         		<p:outputLabel value="peso"/>
		         	</p:column>
		         	
		         	<p:column headerText="Estatura">
		         		<p:outputLabel value="antebrazo"/>
		         	</p:column>
		         	
		         	<p:column headerText="Cuello">
		         		<p:outputLabel value="cuello"/>
		         	</p:column>
		         	
		         	<p:column headerText="Hombro">
		         		<p:outputLabel value="hombro"/>
		         	</p:column>
		         	
		         	<p:column headerText="Brazo Relajado">
		         		<p:outputLabel value="brazoRelajado"/>
		         	</p:column>
		         	
		         	<p:column headerText="Brazo Contraido">
		         		<p:outputLabel value="brazoContraido"/>
		         	</p:column>
		         	
		         	<p:column headerText="Antebrazo">
		         		<p:outputLabel value="antebrazo"/>
		         	</p:column>
		         	
		         	<p:column headerText="Pecho">
		         		<p:outputLabel value="Pecho"/>
		         	</p:column>
		         	
		         	<p:column headerText="Cintura">
		         		<p:outputLabel value="cintura"/>
		         	</p:column>
		         	
		         	<p:column headerText="Abdomen">
		         		<p:outputLabel value="abdomen"/>
		         	</p:column>
		         	
		         	<p:column headerText="Pierna">
		         		<p:outputLabel value="pierna"/>
		         	</p:column>
		         	
		         	<p:column headerText="Pantorrilla">
		         		<p:outputLabel value="pantorrilla"/>
		         	</p:column>
		         	
	         	</p:dataTable>
         	</p:panel>

         </h:form>
 
	</ui:define>
</ui:composition>