<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
 
         <h:form id="formulario">
         	<p:growl/>
         	<div align="center">
         	
         		<p:panel >
         		<h:outputText value="INFORMACION DE RUTINA"
								styleClass="FontBold Fs18 hardblue"></h:outputText>
								
         		<p:panel header="">
         		
         			
         			<p:dataTable id="dataCliente"  var="cliente" paginator="true" rows="5">
	         
			         	<p:column filterBy="#{car.brand}" headerText="Día" >
				            <f:facet name="filter">
				                <p:selectOneMenu >
				                    <f:selectItem itemValue="0" itemLabel="Seleccione un día"/>
				                    <f:selectItem itemValue="1" itemLabel="Lunes"/>
         							<f:selectItem itemValue="2" itemLabel="Martes"/>
         							<f:selectItem itemValue="3" itemLabel="Miercoles"/>
         							<f:selectItem itemValue="4" itemLabel="Jueves"/>
         							<f:selectItem itemValue="5" itemLabel="Viernes"/>
         							<f:selectItem itemValue="6" itemLabel="Sabado"/>
         							<f:selectItem itemValue="7" itemLabel="Domingo"/>
				                </p:selectOneMenu>
				            </f:facet>
            				
       	 				</p:column>
			         	
			         	<p:column headerText="Musculo">
			         		<p:outputLabel value="musculo"/>
			         	</p:column>
			         	
			         	<p:column headerText="Imagen">
			         		<p:outputLabel value="imagen"/>
			         	</p:column>
			         	
			         	<p:column headerText="Series">
			         		<p:outputLabel value="series"/>
			         	</p:column>
			         	
			         	<p:column headerText="Repeticiones">
			         		<p:outputLabel value="repeticiones"/>
			         	</p:column>
			         	
	         		</p:dataTable>
         			
         			
         		</p:panel>
         		
         		
         	</p:panel>
         	</div>
         	
      
         </h:form>
 
     </ui:define>
</ui:composition>