<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:form id="formulario">
			<p:panel>
				<div class="Container">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
							<h:outputText value="INFORMACION DE PLAN"
								styleClass="FontBold Fs18 hardblue"></h:outputText>
						</div>
						<div class="Container100">
						
							<p:panel header="">
							
								<p:panelGrid columns="4" layout="grid"
									style="border:0px !important; background:none;"
									styleClass="ui-panelgrid-blank">
	
									<p:outputLabel value="Plan:" />
									<p:inputText id="txtPlan" disabled="true" />
	
									<p:outputLabel value="Valor:" />
									<p:inputText id="txtValor" disabled="true" />
	
									<p:outputLabel value="Inicio:" />
									<p:inputText id="txtInicio" disabled="true" />
	
									<p:outputLabel value="Fin:" />
									<p:inputText id="txtFin" disabled="true" />
	
								</p:panelGrid>
							</p:panel>
							
							<div align="center">
								<h:panelGrid columns="1">
									<p:commandButton update="formulario" id="btnModificar"
										value="Modificar" />
	
								</h:panelGrid>
							</div>
						</div>
					</div>

				</div>
			</p:panel>


		</h:form>

	</ui:define>
</ui:composition>