<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:form id="formulario">
			<p:growl />

			<p:panel>
				<div class="Container">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
							<h:outputText value="ASIGNACION DE RUTINAS"
								styleClass="FontBold Fs18 hardblue"></h:outputText>
							<BR /> <BR />
							
							<p:panel header="">
							
								<p:panelGrid columns="4" layout="grid"
									style="border:0px !important; background:none;"
									styleClass="ui-panelgrid-blank">
	
										<p:outputLabel value="Número de cédula:" />
										<p:inputText id="txtNumeroDeCedula">
											<p:ajax update="formulario" />
										</p:inputText>
			
										<p:outputLabel value="Nombre:" />
										<p:inputText id="txtNombre" disabled="true" />
			
										<p:outputLabel value="Apellidos:" />
										<p:inputText id="txtApellidos" disabled="true" />
			
										<p:outputLabel value="Edad:" />
										<p:inputText id="txtEdad" disabled="true" />
			
										<p:outputLabel value="Número de Celular:" />
										<p:inputText id="txtTelefono" disabled="true" />
								</p:panelGrid>
							</p:panel>
							
							<div align="center">
							
								<h:panelGrid columns="2">
									<p:commandButton update="formulario" id="btnConfirmar"
										value="Confirmar Rutina" disabled="true" />
									<p:commandButton update="formulario" id="btnLimpiar"
										value="Limpiar" />
								</h:panelGrid>
							
							</div>


						</div>
					</div>

				</div>
			</p:panel>




			<div align="center">

				<p:panel header="Asignación de rutina">

					<!-- activeIndex="#{param.i} hace parte del tabMenu -->
					<p:tabMenu>

						<!-- outcome="/ui/menu/tabMenu"} Es la ruta de a donde manda la pagina -->
						<p:menuitem value="Abdomen">
							<f:param name="i" value="0" />
						</p:menuitem>

						<p:menuitem value="Antebrazo">
							<f:param name="i" value="1" />
						</p:menuitem>

						<p:menuitem value="Biceps">
							<f:param name="i" value="2" />
						</p:menuitem>

						<p:menuitem value="Triiceps">
							<f:param name="i" value="3" />
						</p:menuitem>

						<p:menuitem value="Cintura">
							<f:param name="i" value="4" />
						</p:menuitem>

						<p:menuitem value="Hombro">
							<f:param name="i" value="5" />
						</p:menuitem>

						<p:menuitem value="Pecho">
							<f:param name="i" value="5" />
						</p:menuitem>

						<p:menuitem value="Trapecio">
							<f:param name="i" value="6" />
						</p:menuitem>

						<p:menuitem value="Cuadriceps">
							<f:param name="i" value="7" />
						</p:menuitem>

						<p:menuitem value="Femoral">
							<f:param name="i" value="8" />
						</p:menuitem>

						<p:menuitem value="Gluteos">
							<f:param name="i" value="9" />
						</p:menuitem>

						<p:menuitem value="Pantorrilla">
							<f:param name="i" value="10" />
						</p:menuitem>

					</p:tabMenu>

				</p:panel>

				<p:panel header="Listado de ejercicios">
				</p:panel>

			</div>



		</h:form>

	</ui:define>
</ui:composition>