<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:form id="formulario">
			<p:growl />
			<p:panel>
				<div class="Container">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
							<h:outputText value="GESTION DE CLIENTE"
								styleClass="FontBold Fs18 hardblue"></h:outputText>
							<BR /> <BR />

							<p:panelGrid columns="4" layout="grid"
								style="border:0px !important; background:none;"
								styleClass="ui-panelgrid-blank">

								<p:outputLabel value="Número de cédula:" />
								<p:inputText id="txtCedula" binding="#{gestionClienteView.txtCedula}">
									<p:ajax listener="#{gestionClienteView.txtIdentificacionListener}" update="formulario"/>
								</p:inputText>

								<p:outputLabel value="Nombre:" />
								<p:inputText id="txtNombre" binding="#{gestionClienteView.txtNombre}"/>

								<p:outputLabel value="Apellidos:" />
								<p:inputText id="txtApellido" binding="#{gestionClienteView.txtApellido}"/>

								<p:outputLabel value="Fecha de nacimiento:" />
								<p:calendar showOn="button" navigator="true" locale="en" binding="#{gestionClienteView.txtFechaNacimiento}" >
									<p:ajax event="dateSelect" listener="#{gestionClienteView.listener_txtFechaNacimiento}"  />
								</p:calendar>

								<p:outputLabel value="Número de Celular:" />
								<p:inputText id="txtCelular" binding="#{gestionClienteView.txtCelular}"/>
								
								<p:outputLabel value="Dirección:" />
								<p:inputText id="txtDireccion" binding="#{gestionClienteView.txtDireccion}"/>
								
								
								<p:outputLabel value="Email:" />
								<p:inputText id="txtCorreo" binding="#{gestionClienteView.txtCorreo}"/>
								
								<p:outputLabel value="Sexo:"/>
			         			<p:selectOneMenu id="somSexo" binding="#{gestionClienteView.somSexo}">
			         				<f:selectItem itemValue="M" itemLabel="Masculino"/>
			         				<f:selectItem itemValue="F" itemLabel="Femenino"/>
			         			</p:selectOneMenu>
								
							</p:panelGrid>


						</div>
					</div>


					<div align="center">

						<h:panelGrid columns="4">
							<BR />
							<BR />
							<p:commandButton update="formulario" id="btnCrear" 		value="Crear" 		action="#{gestionClienteView.CrearAction}"		binding="#{gestionClienteView.btnSave}" 	 />
							<p:commandButton update="formulario" id="btnModificar"	value="Modificar"	action="#{gestionClienteView.modificarAction}"	binding="#{gestionClienteView.btnModify}"	disabled="true" />
							<p:commandButton update="formulario" id="btnLimpiar"   	value="Limpiar"		action="#{gestionClienteView.limpiarAction}"	binding="#{gestionClienteView.btnClear}" />

						</h:panelGrid>
					</div>

				</div>
			</p:panel>




			<p:panel header="Listado de clientes">
				<p:dataTable id="dataCliente" var="cliente" paginator="true"
					rows="10">

					<p:column headerText="Número de cédula:">
						<p:outputLabel value="id" />
					</p:column>

					<p:column headerText="Nombre:">
						<p:outputLabel value="nombre" />
					</p:column>

					<p:column headerText="Apellidos:">
						<p:outputLabel value="direccion" />
					</p:column>

					<p:column headerText="Email:">
						<p:outputLabel value="direccion" />
					</p:column>

					<p:column headerText="Fecha de nacimiento:">
						<p:calendar id="german" value="" locale="de" navigator="true"
							pattern="yyyy-MMM-dd" />
					</p:column>

					<p:column headerText="Número de celular:">
						<p:outputLabel value="email" />
					</p:column>


				</p:dataTable>
			</p:panel>
		</h:form>

	</ui:define>
</ui:composition>