<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">


		<h:form id="formulario">
			<p:growl />

			<p:panel>
				<div class="Container">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
							<h:outputText value="PERFIL ENTRENADOR"
								styleClass="FontBold Fs18 hardblue"></h:outputText>
						</div>
						<div class="Container100">
						
							<p:panel header="">
							
							
								<p:panelGrid columns="4" layout="grid"
									style="border:0px !important; background:none;"
									styleClass="ui-panelgrid-blank">
	
									<p:outputLabel value="Nombre:" />
									<p:inputText id="txtNombre" disabled="true" />
	
									<p:outputLabel value="Apellidos:" />
									<p:inputText id="txtApellidos" disabled="true" />
	
									<p:outputLabel value="Edad:" />
									<p:inputText id="txtEdad" disabled="true" />
	
									<p:outputLabel value="Telefono:" />
									<p:inputText id="txtTelefono" />
	
									<p:outputLabel value="E-Mail:" />
									<p:inputText id="txtEmail" />
	
									<p:outputLabel value="Password:" />
									<p:inputText id="txtPassword" />
	
								</p:panelGrid>
							</p:panel>
							
							<div align="center">
							
								<p:panelGrid >
									<p:commandButton styleClass="Fs16" update="formulario" id="btnModificar" value="Modificar" />
								</p:panelGrid>
							
							</div>
						</div>
					</div>

				</div>
			</p:panel>




		</h:form>

	</ui:define>
</ui:composition>