<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:form id="formulario">
			<p:growl />


			<p:panel>
				<div class="Container">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
							<h:outputText value="DATOS CLIENTE"
								styleClass="FontBold Fs18 hardblue"></h:outputText>
						</div>
						<div class="Container100">
							
							<p:panel header="">
							
								<p:panelGrid columns="4" layout="grid"
									style="border:0px !important; background:none;"
									styleClass="ui-panelgrid-blank">
	
									<p:outputLabel value="Número de cédula:" />
									<p:inputText id="txtNumeroDeCedula">
										<p:ajax update="formulario" />
									</p:inputText>
	
									<p:outputLabel value="Cliente:" />
									<p:inputText id="txtCliente" disabled="true" />
	
								</p:panelGrid>
								
							</p:panel>
						</div>
					</div>

				</div>
			</p:panel>

			<p:panel>
				<div class="Container">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
							<h:outputText value="REGISTRO ANTROPOMETICO"
								styleClass="FontBold Fs18 hardblue"></h:outputText>
						</div>
						<div class="Container100">
						
							<p:panel header="">
							
								<p:panelGrid columns="4" layout="grid"
									style="border:0px !important; background:none;"
									styleClass="ui-panelgrid-blank">
	
									<p:outputLabel value="Peso:" />
									<p:inputText id="txtPeso" disabled="true"/>
	
									<p:outputLabel value="Estatura:" />
									<p:inputText id="txtEstatura" disabled="true"/>
	
									<p:outputLabel value="Cuelo" />
									<p:inputText id="txtCuello" disabled="true"/>
	
									<p:outputLabel value="Hombro:" />
									<p:inputText id="txtHombro" disabled="true"/>
	
									<p:outputLabel value="Brazo Relajado:" />
									<p:inputText id="txtBrazoRelajado" disabled="true"/>
	
									<p:outputLabel value="Brazo Contraido:" />
									<p:inputText id="txtBrazoContraido" disabled="true"/>
	
									<p:outputLabel value="Antebrazo:" />
									<p:inputText id="txtAntebrazo" disabled="true"/>
	
									<p:outputLabel value="Pecho:" />
									<p:inputText id="txtPecho" disabled="true"/>
	
									<p:outputLabel value="Cintura:" />
									<p:inputText id="txtCintura" disabled="true"/>
	
									<p:outputLabel value="Abdomen:" />
									<p:inputText id="txtAbdomen" disabled="true"/>
	
									<p:outputLabel value="Pierna:" />
									<p:inputText id="txtPierna" disabled="true"/>
	
									<p:outputLabel value="Pantorrilla:" />
									<p:inputText id="txtPantorrilla" disabled="true"/>
									
									
									
								</p:panelGrid>
								
								<br/>
								
								<div align="center">
									<p:panelGrid >
										<p:commandButton styleClass="Fs16" update="formulario" id="btnRegistrar" value="Registrar" disabled="true"/>
										<p:commandButton styleClass="Fs16" update="formulario" id="btnLimpiar" value="Limpiar" />
									</p:panelGrid>
								</div>
							
							</p:panel>
						</div>
					</div>

				</div>
			</p:panel>



		</h:form>

	</ui:define>
</ui:composition>