<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelAntropometria" header="Antropometria">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgAntId" value="AntId"/>
						 	<p:inputText id="txtAntId" binding="#{antropometriaView.txtAntId}">
						 		<p:ajax update="panelAntropometria,msg,panelBotones" listener="#{antropometriaView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgAbdomen" value=" Abdomen"/>
							<p:inputText id="txtAbdomen" disabled="true" binding="#{antropometriaView.txtAbdomen}"/>
													<h:outputText id="msgActivo" value=" Activo"/>
							<p:inputText id="txtActivo" disabled="true" binding="#{antropometriaView.txtActivo}"/>
													<h:outputText id="msgAntebrazo" value=" Antebrazo"/>
							<p:inputText id="txtAntebrazo" disabled="true" binding="#{antropometriaView.txtAntebrazo}"/>
													<h:outputText id="msgBrazoContraido" value=" BrazoContraido"/>
							<p:inputText id="txtBrazoContraido" disabled="true" binding="#{antropometriaView.txtBrazoContraido}"/>
													<h:outputText id="msgBrazoRelajado" value=" BrazoRelajado"/>
							<p:inputText id="txtBrazoRelajado" disabled="true" binding="#{antropometriaView.txtBrazoRelajado}"/>
													<h:outputText id="msgCintura" value=" Cintura"/>
							<p:inputText id="txtCintura" disabled="true" binding="#{antropometriaView.txtCintura}"/>
													<h:outputText id="msgCuello" value=" Cuello"/>
							<p:inputText id="txtCuello" disabled="true" binding="#{antropometriaView.txtCuello}"/>
													<h:outputText id="msgEstatura" value=" Estatura"/>
							<p:inputText id="txtEstatura" disabled="true" binding="#{antropometriaView.txtEstatura}"/>
													<h:outputText id="msgHombro" value=" Hombro"/>
							<p:inputText id="txtHombro" disabled="true" binding="#{antropometriaView.txtHombro}"/>
													<h:outputText id="msgPantorrilla" value=" Pantorrilla"/>
							<p:inputText id="txtPantorrilla" disabled="true" binding="#{antropometriaView.txtPantorrilla}"/>
													<h:outputText id="msgPecho" value=" Pecho"/>
							<p:inputText id="txtPecho" disabled="true" binding="#{antropometriaView.txtPecho}"/>
													<h:outputText id="msgPeso" value=" Peso"/>
							<p:inputText id="txtPeso" disabled="true" binding="#{antropometriaView.txtPeso}"/>
													<h:outputText id="msgPierna" value=" Pierna"/>
							<p:inputText id="txtPierna" disabled="true" binding="#{antropometriaView.txtPierna}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{antropometriaView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{antropometriaView.txtUsuarioModificador}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{antropometriaView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{antropometriaView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{antropometriaView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{antropometriaView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{antropometriaView.btnSave}" disabled="true" value="Save" action="#{antropometriaView.action_save()}" update="panelAntropometria,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{antropometriaView.btnDelete}" disabled="true" value="Delete" action="#{antropometriaView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelAntropometria,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{antropometriaView.action_clear()}" update="panelAntropometria,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>