<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableClienteAntropometria" header="ClienteAntropometriaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{clienteAntropometriaView.data}" var="clienteAntropometria"
								paginator="true" rows="5">
																										<p:column filterBy="#{clienteAntropometria.cliantId}" sortBy="#{clienteAntropometria.cliantId}" >
										 <f:facet name="header">
										<h:outputText value="cliantId"/>
										</f:facet>
										 <h:outputText value="#{clienteAntropometria.cliantId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{clienteAntropometria.activo}" sortBy="#{clienteAntropometria.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{clienteAntropometria.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{clienteAntropometria.fechaCreacion}" sortBy="#{clienteAntropometria.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{clienteAntropometria.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{clienteAntropometria.fechaModificacion}" sortBy="#{clienteAntropometria.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{clienteAntropometria.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{clienteAntropometria.usuarioCreador}" sortBy="#{clienteAntropometria.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{clienteAntropometria.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{clienteAntropometria.usuarioModificador}" sortBy="#{clienteAntropometria.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{clienteAntropometria.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{clienteAntropometria.antId_Antropometria}" sortBy="#{clienteAntropometria.antId_Antropometria}" >
										 <f:facet name="header">
										<h:outputText value="AntId_Antropometria"/>
										</f:facet>
										 <h:outputText value="#{clienteAntropometria.antId_Antropometria}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{clienteAntropometria.cliId_Cliente}" sortBy="#{clienteAntropometria.cliId_Cliente}" >
										 <f:facet name="header">
										<h:outputText value="CliId_Cliente"/>
										</f:facet>
										 <h:outputText value="#{clienteAntropometria.cliId_Cliente}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogClienteAntropometria"
										actionListener="#{clienteAntropometriaView.action_edit}">
										<f:attribute name="selectedClienteAntropometria" value="#{clienteAntropometria}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{clienteAntropometriaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedClienteAntropometria" value="#{clienteAntropometria}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{clienteAntropometriaView.action_new()}" update=":dialogClienteAntropometria" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogClienteAntropometria" appendTo="@(body)" draggable="true"
						closable="false" visible="#{clienteAntropometriaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelClienteAntropometria" header="ClienteAntropometria">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgCliantId" value="CliantId"/>
									 <p:inputText id="txtCliantId" binding="#{clienteAntropometriaView.txtCliantId}">
									 <p:ajax update=":dialogClienteAntropometria" listener="#{clienteAntropometriaView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{clienteAntropometriaView.txtActivo}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{clienteAntropometriaView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{clienteAntropometriaView.txtUsuarioModificador}"/>
																		<h:outputText id="msgAntId_Antropometria" value=" AntId_Antropometria"/>
									<p:inputText id="txtAntId_Antropometria" disabled="true" binding="#{clienteAntropometriaView.txtAntId_Antropometria}"/>
																		<h:outputText id="msgCliId_Cliente" value=" CliId_Cliente"/>
									<p:inputText id="txtCliId_Cliente" disabled="true" binding="#{clienteAntropometriaView.txtCliId_Cliente}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{clienteAntropometriaView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{clienteAntropometriaView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{clienteAntropometriaView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{clienteAntropometriaView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{clienteAntropometriaView.btnSave}" value="Save" action="#{clienteAntropometriaView.action_save()}" update=":dialogClienteAntropometria :frm:panelDataTableClienteAntropometria" />
									<p:commandButton id="btnClear" value="Clear" action="#{clienteAntropometriaView.action_clear()}" update=":dialogClienteAntropometria" />
									<p:commandButton id="btnExit" value="Exit" action="#{clienteAntropometriaView.action_closeDialog()}" update=":dialogClienteAntropometria" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

