<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelClienteRutina" header="ClienteRutina">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgClirutId" value="ClirutId"/>
						 	<p:inputText id="txtClirutId" binding="#{clienteRutinaView.txtClirutId}">
						 		<p:ajax update="panelClienteRutina,msg,panelBotones" listener="#{clienteRutinaView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgActivo" value=" Activo"/>
							<p:inputText id="txtActivo" disabled="true" binding="#{clienteRutinaView.txtActivo}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{clienteRutinaView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{clienteRutinaView.txtUsuarioModificador}"/>
													<h:outputText id="msgCliId_Cliente" value=" CliId_Cliente"/>
							<p:inputText id="txtCliId_Cliente" disabled="true" binding="#{clienteRutinaView.txtCliId_Cliente}"/>
													<h:outputText id="msgRutId_Rutina" value=" RutId_Rutina"/>
							<p:inputText id="txtRutId_Rutina" disabled="true" binding="#{clienteRutinaView.txtRutId_Rutina}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{clienteRutinaView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{clienteRutinaView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{clienteRutinaView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{clienteRutinaView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{clienteRutinaView.btnSave}" disabled="true" value="Save" action="#{clienteRutinaView.action_save()}" update="panelClienteRutina,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{clienteRutinaView.btnDelete}" disabled="true" value="Delete" action="#{clienteRutinaView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelClienteRutina,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{clienteRutinaView.action_clear()}" update="panelClienteRutina,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>