<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelCliente" header="Cliente">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgCliId" value="CliId"/>
						 	<p:inputText id="txtCliId" binding="#{clienteView.txtCliId}">
						 		<p:ajax update="panelCliente,msg,panelBotones" listener="#{clienteView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgActivo" value=" Activo"/>
							<p:inputText id="txtActivo" disabled="true" binding="#{clienteView.txtActivo}"/>
													<h:outputText id="msgApellido" value=" Apellido"/>
							<p:inputText id="txtApellido" disabled="true" binding="#{clienteView.txtApellido}"/>
													<h:outputText id="msgCedula" value=" Cedula"/>
							<p:inputText id="txtCedula" disabled="true" binding="#{clienteView.txtCedula}"/>
													<h:outputText id="msgCelular" value=" Celular"/>
							<p:inputText id="txtCelular" disabled="true" binding="#{clienteView.txtCelular}"/>
													<h:outputText id="msgCorreo" value=" Correo"/>
							<p:inputText id="txtCorreo" disabled="true" binding="#{clienteView.txtCorreo}"/>
													<h:outputText id="msgDireccion" value=" Direccion"/>
							<p:inputText id="txtDireccion" disabled="true" binding="#{clienteView.txtDireccion}"/>
													<h:outputText id="msgFoto" value=" Foto"/>
							<p:inputText id="txtFoto" disabled="true" binding="#{clienteView.txtFoto}"/>
													<h:outputText id="msgNombre" value=" Nombre"/>
							<p:inputText id="txtNombre" disabled="true" binding="#{clienteView.txtNombre}"/>
													<h:outputText id="msgPassword" value=" Password"/>
							<p:inputText id="txtPassword" disabled="true" binding="#{clienteView.txtPassword}"/>
													<h:outputText id="msgSexo" value=" Sexo"/>
							<p:inputText id="txtSexo" disabled="true" binding="#{clienteView.txtSexo}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{clienteView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{clienteView.txtUsuarioModificador}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{clienteView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{clienteView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{clienteView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{clienteView.listener_txtFechaModificacion}" />
							</p:calendar>
														<h:outputText id="msgFechaNacimiento" value=" FechaNacimiento"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{clienteView.txtFechaNacimiento}" >
								<p:ajax event="dateSelect" listener="#{clienteView.listener_txtFechaNacimiento}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{clienteView.btnSave}" disabled="true" value="Save" action="#{clienteView.action_save()}" update="panelCliente,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{clienteView.btnDelete}" disabled="true" value="Delete" action="#{clienteView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelCliente,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{clienteView.action_clear()}" update="panelCliente,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>