<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelEjercicio" header="Ejercicio">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgEjeId" value="EjeId"/>
						 	<p:inputText id="txtEjeId" binding="#{ejercicioView.txtEjeId}">
						 		<p:ajax update="panelEjercicio,msg,panelBotones" listener="#{ejercicioView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgActivo" value=" Activo"/>
							<p:inputText id="txtActivo" disabled="true" binding="#{ejercicioView.txtActivo}"/>
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{ejercicioView.txtDescripcion}"/>
													<h:outputText id="msgDia" value=" Dia"/>
							<p:inputText id="txtDia" disabled="true" binding="#{ejercicioView.txtDia}"/>
													<h:outputText id="msgImagen" value=" Imagen"/>
							<p:inputText id="txtImagen" disabled="true" binding="#{ejercicioView.txtImagen}"/>
													<h:outputText id="msgNombre" value=" Nombre"/>
							<p:inputText id="txtNombre" disabled="true" binding="#{ejercicioView.txtNombre}"/>
													<h:outputText id="msgRepeticiones" value=" Repeticiones"/>
							<p:inputText id="txtRepeticiones" disabled="true" binding="#{ejercicioView.txtRepeticiones}"/>
													<h:outputText id="msgSeries" value=" Series"/>
							<p:inputText id="txtSeries" disabled="true" binding="#{ejercicioView.txtSeries}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{ejercicioView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{ejercicioView.txtUsuarioModificador}"/>
													<h:outputText id="msgTiejeId_TipoEjercicio" value=" TiejeId_TipoEjercicio"/>
							<p:inputText id="txtTiejeId_TipoEjercicio" disabled="true" binding="#{ejercicioView.txtTiejeId_TipoEjercicio}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{ejercicioView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{ejercicioView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{ejercicioView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{ejercicioView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{ejercicioView.btnSave}" disabled="true" value="Save" action="#{ejercicioView.action_save()}" update="panelEjercicio,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{ejercicioView.btnDelete}" disabled="true" value="Delete" action="#{ejercicioView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelEjercicio,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{ejercicioView.action_clear()}" update="panelEjercicio,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>