<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableEmpleado" header="EmpleadoData">
							<p:growl id="men"/>				
							<p:dataTable value="#{empleadoView.data}" var="empleado"
								paginator="true" rows="5">
																										<p:column filterBy="#{empleado.empId}" sortBy="#{empleado.empId}" >
										 <f:facet name="header">
										<h:outputText value="empId"/>
										</f:facet>
										 <h:outputText value="#{empleado.empId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{empleado.activo}" sortBy="#{empleado.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{empleado.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.apellido}" sortBy="#{empleado.apellido}" >
										 <f:facet name="header">
										<h:outputText value="Apellido"/>
										</f:facet>
										 <h:outputText value="#{empleado.apellido}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.cedula}" sortBy="#{empleado.cedula}" >
										 <f:facet name="header">
										<h:outputText value="Cedula"/>
										</f:facet>
										 <h:outputText value="#{empleado.cedula}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.celular}" sortBy="#{empleado.celular}" >
										 <f:facet name="header">
										<h:outputText value="Celular"/>
										</f:facet>
										 <h:outputText value="#{empleado.celular}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.correo}" sortBy="#{empleado.correo}" >
										 <f:facet name="header">
										<h:outputText value="Correo"/>
										</f:facet>
										 <h:outputText value="#{empleado.correo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.direccion}" sortBy="#{empleado.direccion}" >
										 <f:facet name="header">
										<h:outputText value="Direccion"/>
										</f:facet>
										 <h:outputText value="#{empleado.direccion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.fechaCreacion}" sortBy="#{empleado.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{empleado.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.fechaModificacion}" sortBy="#{empleado.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{empleado.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.fechaNacimiento}" sortBy="#{empleado.fechaNacimiento}" >
										 <f:facet name="header">
										<h:outputText value="FechaNacimiento"/>
										</f:facet>
										 <h:outputText value="#{empleado.fechaNacimiento}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.foto}" sortBy="#{empleado.foto}" >
										 <f:facet name="header">
										<h:outputText value="Foto"/>
										</f:facet>
										 <h:outputText value="#{empleado.foto}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.nombre}" sortBy="#{empleado.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{empleado.nombre}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.password}" sortBy="#{empleado.password}" >
										 <f:facet name="header">
										<h:outputText value="Password"/>
										</f:facet>
										 <h:outputText value="#{empleado.password}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.sexo}" sortBy="#{empleado.sexo}" >
										 <f:facet name="header">
										<h:outputText value="Sexo"/>
										</f:facet>
										 <h:outputText value="#{empleado.sexo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.usuarioCreador}" sortBy="#{empleado.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{empleado.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.usuarioModificador}" sortBy="#{empleado.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{empleado.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{empleado.tiemId_TipoEmpleado}" sortBy="#{empleado.tiemId_TipoEmpleado}" >
										 <f:facet name="header">
										<h:outputText value="TiemId_TipoEmpleado"/>
										</f:facet>
										 <h:outputText value="#{empleado.tiemId_TipoEmpleado}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogEmpleado"
										actionListener="#{empleadoView.action_edit}">
										<f:attribute name="selectedEmpleado" value="#{empleado}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{empleadoView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedEmpleado" value="#{empleado}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{empleadoView.action_new()}" update=":dialogEmpleado" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogEmpleado" appendTo="@(body)" draggable="true"
						closable="false" visible="#{empleadoView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelEmpleado" header="Empleado">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgEmpId" value="EmpId"/>
									 <p:inputText id="txtEmpId" binding="#{empleadoView.txtEmpId}">
									 <p:ajax update=":dialogEmpleado" listener="#{empleadoView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{empleadoView.txtActivo}"/>
																		<h:outputText id="msgApellido" value=" Apellido"/>
									<p:inputText id="txtApellido" disabled="true" binding="#{empleadoView.txtApellido}"/>
																		<h:outputText id="msgCedula" value=" Cedula"/>
									<p:inputText id="txtCedula" disabled="true" binding="#{empleadoView.txtCedula}"/>
																		<h:outputText id="msgCelular" value=" Celular"/>
									<p:inputText id="txtCelular" disabled="true" binding="#{empleadoView.txtCelular}"/>
																		<h:outputText id="msgCorreo" value=" Correo"/>
									<p:inputText id="txtCorreo" disabled="true" binding="#{empleadoView.txtCorreo}"/>
																		<h:outputText id="msgDireccion" value=" Direccion"/>
									<p:inputText id="txtDireccion" disabled="true" binding="#{empleadoView.txtDireccion}"/>
																		<h:outputText id="msgFoto" value=" Foto"/>
									<p:inputText id="txtFoto" disabled="true" binding="#{empleadoView.txtFoto}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{empleadoView.txtNombre}"/>
																		<h:outputText id="msgPassword" value=" Password"/>
									<p:inputText id="txtPassword" disabled="true" binding="#{empleadoView.txtPassword}"/>
																		<h:outputText id="msgSexo" value=" Sexo"/>
									<p:inputText id="txtSexo" disabled="true" binding="#{empleadoView.txtSexo}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{empleadoView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{empleadoView.txtUsuarioModificador}"/>
																		<h:outputText id="msgTiemId_TipoEmpleado" value=" TiemId_TipoEmpleado"/>
									<p:inputText id="txtTiemId_TipoEmpleado" disabled="true" binding="#{empleadoView.txtTiemId_TipoEmpleado}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{empleadoView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{empleadoView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{empleadoView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{empleadoView.listener_txtFechaModificacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaNacimiento" value=" FechaNacimiento"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{empleadoView.txtFechaNacimiento}" >
										<p:ajax event="dateSelect" listener="#{empleadoView.listener_txtFechaNacimiento}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{empleadoView.btnSave}" value="Save" action="#{empleadoView.action_save()}" update=":dialogEmpleado :frm:panelDataTableEmpleado" />
									<p:commandButton id="btnClear" value="Clear" action="#{empleadoView.action_clear()}" update=":dialogEmpleado" />
									<p:commandButton id="btnExit" value="Exit" action="#{empleadoView.action_closeDialog()}" update=":dialogEmpleado" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

