<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTablePago" header="PagoData">
							<p:growl id="men"/>				
							<p:dataTable value="#{pagoView.data}" var="pago"
								paginator="true" rows="5">
																										<p:column filterBy="#{pago.pagId}" sortBy="#{pago.pagId}" >
										 <f:facet name="header">
										<h:outputText value="pagId"/>
										</f:facet>
										 <h:outputText value="#{pago.pagId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{pago.activo}" sortBy="#{pago.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{pago.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pago.fechaCreacion}" sortBy="#{pago.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{pago.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pago.fechaModificacion}" sortBy="#{pago.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{pago.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pago.fechaPago}" sortBy="#{pago.fechaPago}" >
										 <f:facet name="header">
										<h:outputText value="FechaPago"/>
										</f:facet>
										 <h:outputText value="#{pago.fechaPago}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pago.usuarioCreador}" sortBy="#{pago.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{pago.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pago.usuarioModificador}" sortBy="#{pago.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{pago.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pago.valor}" sortBy="#{pago.valor}" >
										 <f:facet name="header">
										<h:outputText value="Valor"/>
										</f:facet>
										 <h:outputText value="#{pago.valor}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pago.plancliId_PlanCliente}" sortBy="#{pago.plancliId_PlanCliente}" >
										 <f:facet name="header">
										<h:outputText value="PlancliId_PlanCliente"/>
										</f:facet>
										 <h:outputText value="#{pago.plancliId_PlanCliente}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pago.tipaId_TipoPago}" sortBy="#{pago.tipaId_TipoPago}" >
										 <f:facet name="header">
										<h:outputText value="TipaId_TipoPago"/>
										</f:facet>
										 <h:outputText value="#{pago.tipaId_TipoPago}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogPago"
										actionListener="#{pagoView.action_edit}">
										<f:attribute name="selectedPago" value="#{pago}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{pagoView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedPago" value="#{pago}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{pagoView.action_new()}" update=":dialogPago" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogPago" appendTo="@(body)" draggable="true"
						closable="false" visible="#{pagoView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelPago" header="Pago">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgPagId" value="PagId"/>
									 <p:inputText id="txtPagId" binding="#{pagoView.txtPagId}">
									 <p:ajax update=":dialogPago" listener="#{pagoView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{pagoView.txtActivo}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{pagoView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{pagoView.txtUsuarioModificador}"/>
																		<h:outputText id="msgValor" value=" Valor"/>
									<p:inputText id="txtValor" disabled="true" binding="#{pagoView.txtValor}"/>
																		<h:outputText id="msgPlancliId_PlanCliente" value=" PlancliId_PlanCliente"/>
									<p:inputText id="txtPlancliId_PlanCliente" disabled="true" binding="#{pagoView.txtPlancliId_PlanCliente}"/>
																		<h:outputText id="msgTipaId_TipoPago" value=" TipaId_TipoPago"/>
									<p:inputText id="txtTipaId_TipoPago" disabled="true" binding="#{pagoView.txtTipaId_TipoPago}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{pagoView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{pagoView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{pagoView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{pagoView.listener_txtFechaModificacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaPago" value=" FechaPago"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{pagoView.txtFechaPago}" >
										<p:ajax event="dateSelect" listener="#{pagoView.listener_txtFechaPago}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{pagoView.btnSave}" value="Save" action="#{pagoView.action_save()}" update=":dialogPago :frm:panelDataTablePago" />
									<p:commandButton id="btnClear" value="Clear" action="#{pagoView.action_clear()}" update=":dialogPago" />
									<p:commandButton id="btnExit" value="Exit" action="#{pagoView.action_closeDialog()}" update=":dialogPago" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

