<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTablePlanCliente" header="PlanClienteData">
							<p:growl id="men"/>				
							<p:dataTable value="#{planClienteView.data}" var="planCliente"
								paginator="true" rows="5">
																										<p:column filterBy="#{planCliente.plancliId}" sortBy="#{planCliente.plancliId}" >
										 <f:facet name="header">
										<h:outputText value="plancliId"/>
										</f:facet>
										 <h:outputText value="#{planCliente.plancliId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{planCliente.activo}" sortBy="#{planCliente.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{planCliente.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{planCliente.fechaCreacion}" sortBy="#{planCliente.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{planCliente.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{planCliente.fechaModificacion}" sortBy="#{planCliente.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{planCliente.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{planCliente.usuarioCreador}" sortBy="#{planCliente.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{planCliente.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{planCliente.usuarioModificador}" sortBy="#{planCliente.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{planCliente.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{planCliente.cliId_Cliente}" sortBy="#{planCliente.cliId_Cliente}" >
										 <f:facet name="header">
										<h:outputText value="CliId_Cliente"/>
										</f:facet>
										 <h:outputText value="#{planCliente.cliId_Cliente}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{planCliente.plaId_Plan}" sortBy="#{planCliente.plaId_Plan}" >
										 <f:facet name="header">
										<h:outputText value="PlaId_Plan"/>
										</f:facet>
										 <h:outputText value="#{planCliente.plaId_Plan}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogPlanCliente"
										actionListener="#{planClienteView.action_edit}">
										<f:attribute name="selectedPlanCliente" value="#{planCliente}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{planClienteView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedPlanCliente" value="#{planCliente}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{planClienteView.action_new()}" update=":dialogPlanCliente" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogPlanCliente" appendTo="@(body)" draggable="true"
						closable="false" visible="#{planClienteView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelPlanCliente" header="PlanCliente">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgPlancliId" value="PlancliId"/>
									 <p:inputText id="txtPlancliId" binding="#{planClienteView.txtPlancliId}">
									 <p:ajax update=":dialogPlanCliente" listener="#{planClienteView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{planClienteView.txtActivo}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{planClienteView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{planClienteView.txtUsuarioModificador}"/>
																		<h:outputText id="msgCliId_Cliente" value=" CliId_Cliente"/>
									<p:inputText id="txtCliId_Cliente" disabled="true" binding="#{planClienteView.txtCliId_Cliente}"/>
																		<h:outputText id="msgPlaId_Plan" value=" PlaId_Plan"/>
									<p:inputText id="txtPlaId_Plan" disabled="true" binding="#{planClienteView.txtPlaId_Plan}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{planClienteView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{planClienteView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{planClienteView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{planClienteView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{planClienteView.btnSave}" value="Save" action="#{planClienteView.action_save()}" update=":dialogPlanCliente :frm:panelDataTablePlanCliente" />
									<p:commandButton id="btnClear" value="Clear" action="#{planClienteView.action_clear()}" update=":dialogPlanCliente" />
									<p:commandButton id="btnExit" value="Exit" action="#{planClienteView.action_closeDialog()}" update=":dialogPlanCliente" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

