<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTablePlan" header="PlanData">
							<p:growl id="men"/>				
							<p:dataTable value="#{planView.data}" var="plan"
								paginator="true" rows="5">
																										<p:column filterBy="#{plan.plaId}" sortBy="#{plan.plaId}" >
										 <f:facet name="header">
										<h:outputText value="plaId"/>
										</f:facet>
										 <h:outputText value="#{plan.plaId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{plan.activo}" sortBy="#{plan.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{plan.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{plan.descripcion}" sortBy="#{plan.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{plan.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{plan.dias}" sortBy="#{plan.dias}" >
										 <f:facet name="header">
										<h:outputText value="Dias"/>
										</f:facet>
										 <h:outputText value="#{plan.dias}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{plan.fechaCreacion}" sortBy="#{plan.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{plan.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{plan.fechaModificacion}" sortBy="#{plan.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{plan.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{plan.mesFin}" sortBy="#{plan.mesFin}" >
										 <f:facet name="header">
										<h:outputText value="MesFin"/>
										</f:facet>
										 <h:outputText value="#{plan.mesFin}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{plan.mesInicio}" sortBy="#{plan.mesInicio}" >
										 <f:facet name="header">
										<h:outputText value="MesInicio"/>
										</f:facet>
										 <h:outputText value="#{plan.mesInicio}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{plan.nombre}" sortBy="#{plan.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{plan.nombre}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{plan.usuarioCreador}" sortBy="#{plan.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{plan.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{plan.usuarioModificador}" sortBy="#{plan.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{plan.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{plan.valor}" sortBy="#{plan.valor}" >
										 <f:facet name="header">
										<h:outputText value="Valor"/>
										</f:facet>
										 <h:outputText value="#{plan.valor}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogPlan"
										actionListener="#{planView.action_edit}">
										<f:attribute name="selectedPlan" value="#{plan}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{planView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedPlan" value="#{plan}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{planView.action_new()}" update=":dialogPlan" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogPlan" appendTo="@(body)" draggable="true"
						closable="false" visible="#{planView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelPlan" header="Plan">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgPlaId" value="PlaId"/>
									 <p:inputText id="txtPlaId" binding="#{planView.txtPlaId}">
									 <p:ajax update=":dialogPlan" listener="#{planView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{planView.txtActivo}"/>
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{planView.txtDescripcion}"/>
																		<h:outputText id="msgDias" value=" Dias"/>
									<p:inputText id="txtDias" disabled="true" binding="#{planView.txtDias}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{planView.txtNombre}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{planView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{planView.txtUsuarioModificador}"/>
																		<h:outputText id="msgValor" value=" Valor"/>
									<p:inputText id="txtValor" disabled="true" binding="#{planView.txtValor}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{planView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{planView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{planView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{planView.listener_txtFechaModificacion}"  />
										</p:calendar>
																				<h:outputText id="msgMesFin" value=" MesFin"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{planView.txtMesFin}" >
										<p:ajax event="dateSelect" listener="#{planView.listener_txtMesFin}"  />
										</p:calendar>
																				<h:outputText id="msgMesInicio" value=" MesInicio"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{planView.txtMesInicio}" >
										<p:ajax event="dateSelect" listener="#{planView.listener_txtMesInicio}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{planView.btnSave}" value="Save" action="#{planView.action_save()}" update=":dialogPlan :frm:panelDataTablePlan" />
									<p:commandButton id="btnClear" value="Clear" action="#{planView.action_clear()}" update=":dialogPlan" />
									<p:commandButton id="btnExit" value="Exit" action="#{planView.action_closeDialog()}" update=":dialogPlan" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

