<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableRutina" header="RutinaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{rutinaView.data}" var="rutina"
								paginator="true" rows="5">
																										<p:column filterBy="#{rutina.rutId}" sortBy="#{rutina.rutId}" >
										 <f:facet name="header">
										<h:outputText value="rutId"/>
										</f:facet>
										 <h:outputText value="#{rutina.rutId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{rutina.activo}" sortBy="#{rutina.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{rutina.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{rutina.fechaCreacion}" sortBy="#{rutina.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{rutina.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{rutina.fechaModificacion}" sortBy="#{rutina.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{rutina.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{rutina.nombre}" sortBy="#{rutina.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{rutina.nombre}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{rutina.usuarioCreador}" sortBy="#{rutina.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{rutina.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{rutina.usuarioModificador}" sortBy="#{rutina.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{rutina.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{rutina.empId_Empleado}" sortBy="#{rutina.empId_Empleado}" >
										 <f:facet name="header">
										<h:outputText value="EmpId_Empleado"/>
										</f:facet>
										 <h:outputText value="#{rutina.empId_Empleado}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogRutina"
										actionListener="#{rutinaView.action_edit}">
										<f:attribute name="selectedRutina" value="#{rutina}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{rutinaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedRutina" value="#{rutina}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{rutinaView.action_new()}" update=":dialogRutina" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogRutina" appendTo="@(body)" draggable="true"
						closable="false" visible="#{rutinaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelRutina" header="Rutina">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgRutId" value="RutId"/>
									 <p:inputText id="txtRutId" binding="#{rutinaView.txtRutId}">
									 <p:ajax update=":dialogRutina" listener="#{rutinaView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{rutinaView.txtActivo}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{rutinaView.txtNombre}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{rutinaView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{rutinaView.txtUsuarioModificador}"/>
																		<h:outputText id="msgEmpId_Empleado" value=" EmpId_Empleado"/>
									<p:inputText id="txtEmpId_Empleado" disabled="true" binding="#{rutinaView.txtEmpId_Empleado}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{rutinaView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{rutinaView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{rutinaView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{rutinaView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{rutinaView.btnSave}" value="Save" action="#{rutinaView.action_save()}" update=":dialogRutina :frm:panelDataTableRutina" />
									<p:commandButton id="btnClear" value="Clear" action="#{rutinaView.action_clear()}" update=":dialogRutina" />
									<p:commandButton id="btnExit" value="Exit" action="#{rutinaView.action_closeDialog()}" update=":dialogRutina" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

