<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableTipoEmpleado" header="TipoEmpleadoData">
							<p:growl id="men"/>				
							<p:dataTable value="#{tipoEmpleadoView.data}" var="tipoEmpleado"
								paginator="true" rows="5">
																										<p:column filterBy="#{tipoEmpleado.tiemId}" sortBy="#{tipoEmpleado.tiemId}" >
										 <f:facet name="header">
										<h:outputText value="tiemId"/>
										</f:facet>
										 <h:outputText value="#{tipoEmpleado.tiemId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{tipoEmpleado.activo}" sortBy="#{tipoEmpleado.activo}" >
										 <f:facet name="header">
										<h:outputText value="Activo"/>
										</f:facet>
										 <h:outputText value="#{tipoEmpleado.activo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoEmpleado.fechaCreacion}" sortBy="#{tipoEmpleado.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{tipoEmpleado.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoEmpleado.fechaModificacion}" sortBy="#{tipoEmpleado.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{tipoEmpleado.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoEmpleado.nombre}" sortBy="#{tipoEmpleado.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{tipoEmpleado.nombre}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoEmpleado.usuarioCreador}" sortBy="#{tipoEmpleado.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{tipoEmpleado.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoEmpleado.usuarioModificador}" sortBy="#{tipoEmpleado.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{tipoEmpleado.usuarioModificador}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogTipoEmpleado"
										actionListener="#{tipoEmpleadoView.action_edit}">
										<f:attribute name="selectedTipoEmpleado" value="#{tipoEmpleado}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{tipoEmpleadoView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedTipoEmpleado" value="#{tipoEmpleado}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{tipoEmpleadoView.action_new()}" update=":dialogTipoEmpleado" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogTipoEmpleado" appendTo="@(body)" draggable="true"
						closable="false" visible="#{tipoEmpleadoView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelTipoEmpleado" header="TipoEmpleado">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgTiemId" value="TiemId"/>
									 <p:inputText id="txtTiemId" binding="#{tipoEmpleadoView.txtTiemId}">
									 <p:ajax update=":dialogTipoEmpleado" listener="#{tipoEmpleadoView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgActivo" value=" Activo"/>
									<p:inputText id="txtActivo" disabled="true" binding="#{tipoEmpleadoView.txtActivo}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{tipoEmpleadoView.txtNombre}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{tipoEmpleadoView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{tipoEmpleadoView.txtUsuarioModificador}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{tipoEmpleadoView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{tipoEmpleadoView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{tipoEmpleadoView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{tipoEmpleadoView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{tipoEmpleadoView.btnSave}" value="Save" action="#{tipoEmpleadoView.action_save()}" update=":dialogTipoEmpleado :frm:panelDataTableTipoEmpleado" />
									<p:commandButton id="btnClear" value="Clear" action="#{tipoEmpleadoView.action_clear()}" update=":dialogTipoEmpleado" />
									<p:commandButton id="btnExit" value="Exit" action="#{tipoEmpleadoView.action_closeDialog()}" update=":dialogTipoEmpleado" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

