<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<title>Signin</title>
		<meta name="content-type" content="text/html; charset=UTF-8"/>
   		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	<link href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    	<link href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/css/styles.css" rel="stylesheet"/>
		<link REL="SHORTCUT ICON" href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/images/icon.png"/>
		
    </h:head>
	<h:body class="login-bg">
		<div class="header">
		     <div class="container">
		        <div class="row">
		           <div class="col-md-12">
		           </div>
		        </div>
		     </div>
		</div>
		
		   <h:form styleClass="form-signin">
   				<p:growl id="msgGrowl" autoUpdate="true" showDetail="false"/>
   					<div class="page-content container">
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<div class="login-wrapper">
							        <div class="box">
							            <div class="content-wrap">
							                <h6>Ingresar GYM</h6>			
								                <p:inputText id="usernameField" name="j_username" value="#{loginView.userId}" placeholder="Cedula" styleClass="form-control"/>
								                <p:commandButton styleClass="btn btn-primary signup" value="Ingresar Gym"  action="#{loginView.login}" update="msgGrowl"/>
									     </div>
							       </div>

							       
						    </div>
						</div>
					</div>
				</div>


 
	     	</h:form>
	      
    	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
	</h:body>
</html>