<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/sentinel"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div id="layout-menubar" class="Unselectable fontRegular">
		<div class="layout-menubarinner-box" id="buttonArea">
			<a href="#" id="layout-menubar-resize" class="BordRad3"
				title="Menu Resize"><i class="icon-th-list-2"></i></a> <a href="#"
				id="layout-menubar-resize2" class="BordRad3" title="Open Menu"><i
				class="icon-menu"></i></a>
		</div>

		<div class="layout-menubarinner-box" id="searchArea">
			<i class="icon-search floatLeft gray"></i> <input type="text"
				class="layout-menubar-search floatLeft Animated05"
				placeholder="Search Here" />
		</div>

		<h:form id="menuform">
			<ps:menu id="sm_leftmenu">
				<p:menuitem id="sm_dashboard" value="Dashboard"
					icon="icon-home-outline" outcome="dashboard"
					containerStyleClass="layout-menubar-active" />
				<p:submenu id="sm_sentineltheme" label="Sentinel Theme"
					icon="icon-gauge">
					<p:menuitem id="sm_sample" value="Sample Page" icon="icon-columns" />
				</p:submenu>
				<p:submenu id="sm_dp" label="Default Pages" icon="icon-pin-outline">
					<p:menuitem id="sm_empty" value="Empty Page"
						icon="icon-plus-squared-alt" />
				</p:submenu>
				<p:submenu id="sm_menu" label="Menu Hierarchy" icon="icon-sitemap">

					<p:submenu id="sm_sub1_1_1" label="Submenu 1.1.1"
						icon="icon-folder-empty">
						<p:menuitem id="sm_lnk1" value="Link 1" icon="icon-link" />
					</p:submenu>


				</p:submenu>
				<p:menuitem id="sm_fonts" value="Font Icons" icon="icon-book" />
				<p:menuitem id="sm_doc" value="Documentation"
					icon="icon-graduation-cap" />

			</ps:menu>
		</h:form>
	</div>

</ui:composition>
