<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/sentinel"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	

		<h:form id="menuform">
							
								<p:menubar toggleable="true">
								
									<p:submenu label="Master" icon="ui-icon-pencil">  
							            
							            	 								                    <p:menuitem value="Master Antropometria" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/antropometria.xhtml" />  
											 								                    <p:menuitem value="Master Cliente" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/cliente.xhtml" />  
											 								                    <p:menuitem value="Master ClienteAntropometria" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/clienteAntropometria.xhtml" />  
											 								                    <p:menuitem value="Master ClienteRutina" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/clienteRutina.xhtml" />  
											 								                    <p:menuitem value="Master Ejercicio" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/ejercicio.xhtml" />  
											 								                    <p:menuitem value="Master EjercicioRutina" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/ejercicioRutina.xhtml" />  
											 								                    <p:menuitem value="Master Empleado" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/empleado.xhtml" />  
											 								                    <p:menuitem value="Master Pago" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/pago.xhtml" />  
											 								                    <p:menuitem value="Master Plan" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/plan.xhtml" />  
											 								                    <p:menuitem value="Master PlanCliente" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/planCliente.xhtml" />  
											 								                    <p:menuitem value="Master Rutina" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/rutina.xhtml" />  
											 								                    <p:menuitem value="Master TipoEjercicio" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/tipoEjercicio.xhtml" />  
											 								                    <p:menuitem value="Master TipoEmpleado" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/tipoEmpleado.xhtml" />  
											 								                    <p:menuitem value="Master TipoPago" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/tipoPago.xhtml" />  
											 							        </p:submenu>  
															
															
							  
							        <p:submenu label="Data Table" icon="ui-icon-document">
							                								                    <p:menuitem value="Antropometria" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/antropometriaListDataTable.xhtml" />  
											 								                    <p:menuitem value="Cliente" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/clienteListDataTable.xhtml" />  
											 								                    <p:menuitem value="ClienteAntropometria" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/clienteAntropometriaListDataTable.xhtml" />  
											 								                    <p:menuitem value="ClienteRutina" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/clienteRutinaListDataTable.xhtml" />  
											 								                    <p:menuitem value="Ejercicio" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/ejercicioListDataTable.xhtml" />  
											 								                    <p:menuitem value="EjercicioRutina" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/ejercicioRutinaListDataTable.xhtml" />  
											 								                    <p:menuitem value="Empleado" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/empleadoListDataTable.xhtml" />  
											 								                    <p:menuitem value="Pago" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/pagoListDataTable.xhtml" />  
											 								                    <p:menuitem value="Plan" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/planListDataTable.xhtml" />  
											 								                    <p:menuitem value="PlanCliente" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/planClienteListDataTable.xhtml" />  
											 								                    <p:menuitem value="Rutina" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/rutinaListDataTable.xhtml" />  
											 								                    <p:menuitem value="TipoEjercicio" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/tipoEjercicioListDataTable.xhtml" />  
											 								                    <p:menuitem value="TipoEmpleado" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/tipoEmpleadoListDataTable.xhtml" />  
											 								                    <p:menuitem value="TipoPago" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/tipoPagoListDataTable.xhtml" />  
											 							        </p:submenu>  
							  
						        	<p:menuitem value="Logout"
										url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/j_spring_security_logout"
										icon="ui-icon-close" />  
						    
			</p:menubar>
		</h:form>
</ui:composition>
